#root>.card {
  max-width: 400px;
  margin: 10px auto;
}

button:disabled, button:disabled:hover {
  background-color: lightgray;
}

.animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.animal {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}